<h1>Burgers</h1>

<h2>To Be Eaten</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>{{burger_name}} <button name={{id}} type="button" class="devour btn">Devour</button>
        {{!-- {{> burgers/burger-block devoured=false}} --}}
        {{/unless}}
        {{/each}}
</ul>

<h2>Burgers Devoured</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <h3>Devoured</h3>

    {{!-- {{> burgers/burger-block devoured=true}} --}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
{{!-- <form class="create-form">

    <div class="form-group">
        <label for="burger-input">Kind of Burger:</label>
        <input type="text" id="burger-input" name="burger_name">
    </div>
    <button type="submit">Add a Burger</button>
</form> --}}

<form class="create-form" method="POST"  style="margin: auto">  
    <div class="form-group">
        <h1>Burgers</h1>
            <h2>Add a burger</h2>
        <label for="burger">Type of burger:</label>
        <input type="text" id="burger-input" name="burger">
        <button type="submit">Add burger</button>

<script>
    $(".devour").on("click", function() {
        console.log("you got clicked", $(this).attr('burger_name'))
        $.ajax({
            url: "/api/burgers/" + $(this).attr('burger_name') ,
            type: "PUT",
        }).then(function(data){
            window.location.reload()
        })
    })
</script>